.home {
  overflow-y: auto;  
}

.home-header-logo {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-header-logo img {
  width: 100%;
}


.home .about .text {
  padding: 0.5em;
}

.about-button-icon
{
  margin-top:10px;
}

.home .petition {
  text-align: center;
}

.home .petition a {
  text-decoration: none; /* Removes the underline from the link */
}

.home-stats {
  max-height: 100%;
}

@media (width <= 950px) {
  .home-stats .network-circle {
    zoom: 0.8;
  }
}

@media (width <= 800px) {
  .home {
    transition: transform 0.5s ease-in-out;
  }

}

@media (width <= 500px) {
  .home-stats .network-circle {
    zoom: 0.7;
  }
}

@media (width <= 410px) {
  .home-stats .network-circle {
    zoom: 0.65;
  }
}

@media (width <= 385px) {
  .home-stats .network-circle {
    zoom: 0.6;
  }
}

@media (width <= 365px) {
  .home-stats .network-circle {
    zoom: 0.55;
  }
}
