.account-info-panel-blocked-timestamp {
  font-size: 80%;
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white,
    0 0 12px white, 0 0 12px white, 0 0 12px white, 0 0 12px white;
  border-top: solid 1px #ededed;
  padding-top: 0.5em;
}

.account-info-panel-blocked-timestamp-full {
  zoom: 80%;
  transform: scaleY(1.1);
}

.block-account-info-panel .account-info-panel-description {
  padding: 1em;
}

.block-panel-generic {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
}

.block-panel-header {
  padding-left: 0.6em;
}

.block-list {
  padding: 0;
}

.block-panel-generic .history-header {
  background: inherit;
  padding-top: 0.7em;
  padding-bottom: 0;
}

@media (width <= 800px) {
  .block-panel-generic .history-header {
    top: 6em;
  }
}

.block-panel-generic .history-search-text-field {
  background: transparent;
}

.blocking-list-entry {
  list-style-type: none;
  padding: 0.4em 0.6em;
}

li.blocking-list-entry:nth-child(even) {
  background-color: #0000000a;
  background-image: linear-gradient(to top, #00000024, transparent 1px),
    linear-gradient(to bottom, #0000000a, transparent 1px);
}

.blocking-list-entry .blocking-account-link {
  color: inherit;
  text-decoration: inherit;
}

.blocking-list-entry a.blocking-account-link:hover {
  text-decoration: underline;
}

.blocking-list-entry .account-short-entry-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
}

.blocking-list-entry
  .account-short-entry-content
  .account-short-entry-handle
  .account-short-entry-display-name {
  opacity: 0.7;
}

.blocking-list-entry .blocking-account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}

.blocking-list-entry .blocking-date {
  opacity: 0.6;
  font-weight: 200;
  font-size: 80%;
  text-align: right;
}

.MuiBox-root .css-r82bso {
  /* This was previously 48px by default, setting it to 0 to make sure the search button is clickable */
  padding-top: 0;
}

.blocking-panel-header {
  padding: 0.5em;
  margin: 0;
  
  /* margin-top was previously 0.5 em, changed to 48px to compensate for the removed padding in MuiBox-root css-r82bso */
  margin-top: 48px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.blocking-panel-header-loading * {
  filter: blur(0.5px);
  opacity: 0.7;
}

.panel-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-count {
  display: inline;
  margin: 0;
}

.panel-show-search {
  background-color: #f5f5f5;
  border-radius: 50%;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 1px 4px #0001;
  margin-left: 0.5em;
  padding: 0.3em;
}

.panel-show-search-active {
  background-color: #e0e0e0;
}

.panel-search-autocomplete {
  width: 100%;
  margin: 0.5em 0 0;
}
