.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

@media (width >= 801px) {
  .layout {
    flex-direction: row;
  }

  .layout .account-info {
    min-width: 450px;
    max-width: 550px;
    flex: 1 0 0;
    overflow-y: auto;
  }

  .layout .detail-container {
    /* main content area grows 3 times more than the sidebar */
    flex: 3 0 0;
  }

  .account-tabs-content {
    /* max-height: 80em; */
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .account-extra-info .did-section {
    padding-left: 1em;
    padding-bottom: 1em;
    display: none;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }
}

.account-header .info-icon {
  display: none;
}

.account-title {
  align-self: end;
}

.account-extra-info {
  height: calc(100% - 200px);
  display:flex;
  flex-direction: column;
}

.account-extra-info .did-section .copy-did {
  color: #b8b8b8;
  zoom: 0.6;
  margin-left: -1em;
  margin-right: -0.4em;
  transition: opacity 400ms, pointer-events 300ms;
  opacity: 0;
  pointer-events: none;
}

.account-extra-info .did-section:hover .copy-did {
  pointer-events: all;
  opacity: 1;
}

.MuiTabs-flexContainer button {
  flex-grow: 1;
  min-width: 100px;
  padding: 10px;
  border-left: black solid 1px;
}

.MuiTabs-flexContainer button:first-child {
  border-left: none;
}

.account-tabs-handles .MuiTab-root {
  min-width: 0;
  padding: 2em 0.8em;
  margin-bottom: 0.5em;
}

.account-tabs-handles .MuiTabs-indicator {
  background-color: black;
}

.account-tabs-handles .MuiTab-root.Mui-selected {
  color: black;
}

.account-tabs-handles .MuiTab-root.tab-blocked-by.Mui-selected {
  color: #a02d19;
}

.account-tabs-handles .MuiTab-root.tab-blocking.Mui-selected {
  color: #a26900;
}

.account-tabs-handles.selected-tab-blocking .MuiTabs-indicator {
  background-color: #c49b36;
}

.account-tabs-handles.selected-tab-lists .MuiTabs-indicator {
  background-color: #4a73b7;
}

/* tab-history */
.account-tabs-handles .MuiTab-root.tab-history {
  background: linear-gradient(to right, #fff2e6, #fff9f0 0.6em);
}

.account-tabs-handles .MuiTab-root.tab-history.Mui-selected {
  background: linear-gradient(to right, #ffe5cc, #fff0d9 0.6em);
  color: #b78b2a;
}

.account-tabs-handles.selected-tab-history .MuiTabs-indicator {
  background-color: #b78b2a;
}

/* tab-labeled */
.account-tabs-handles .MuiTab-root.tab-labeled {
  background: linear-gradient(to right, #e6ffe6, #f2fff2 0.6em);
}

.account-tabs-handles .MuiTab-root.tab-labeled.Mui-selected {
  background: linear-gradient(to right, #cfc, #d9ffd9 0.6em);
  color: #5cb75c;
}

.account-tabs-handles.selected-tab-labeled .MuiTabs-indicator {
  background-color: #5cb75c;
}

/* tab-packsCreated */
.account-tabs-handles .MuiTab-root.tab-packsCreated {
  background: linear-gradient(to right, #ffe6f2, #fff2f7 0.6em);
}

.account-tabs-handles .MuiTab-root.tab-packsCreated.Mui-selected {
  background: linear-gradient(to right, #ffccdb, #ffd9e6 0.6em);
  color: #b75c8b;
}

.account-tabs-handles.selected-tab-packsCreated .MuiTabs-indicator {
  background-color: #b75c8b;
}

/* tab-packsPopulated */
.account-tabs-handles .MuiTab-root.tab-packsPopulated {
  background: linear-gradient(to right, #e6f2ff, #f2f7ff 0.6em);
}

.account-tabs-handles .MuiTab-root.tab-packsPopulated.Mui-selected {
  background: linear-gradient(to right, #d9e9ff, #c4d9ff 0.6em);
  color: #5c8bb7;
}

.account-tabs-handles.selected-tab-packsPopulated .MuiTabs-indicator {
  background-color: #5c8bb7;
}

.account-tabs-content {
  border-left: none;
}

.account-tabs-content .account-tab {
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

.account-tabs-content .account-tab-selected {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.detail-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 3px;
  padding-right: 3px;
  flex-grow: 1;
  overflow-y: auto;
}

.account-header {
  position: sticky;
  top: -7em;
  z-index: 20;
  background: white;
}
 
.account-extra-info .bio-section {
  display: block;
  flex-grow:4;
}

.account-extra-info .did-section {
  display: block;  
  flex-grow:0;
}

.account-extra-info .handle-history-section {
  display: block;
  align-self: flex-end;
  flex-grow:0;
}

.close-opt{
  display:none;
  visibility: hidden;
}

@media (width <= 800px) {
  .layout {
    flex-direction: column;
  }

  .account-extra-info{
    display:none;
  }

  .account-header .info-icon {
    display: inline;
  }

  .account-extra-info.account-extra-info-reveal {
    border-radius:5px;
    border:1px solid black;   
    background: white;
    font-size: 90%; 
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    z-index: 50;
    display: block;
    padding: 5px;
    zoom:.75;
    height:fit-content;
  }
  
  .account-extra-info-reveal .close-opt{
    display: block;
    position: relative;
    left: 94%;
    visibility: visible;
    zoom: 3;
  } 


  .account-extra-info .handle-history-section {
    display: none;
  }
  
  .account-extra-info.account-extra-info-reveal .bio-section {
    display: block;
    margin: 0;
  }

  .account-extra-info.account-extra-info-reveal .did-section {
    display: block;
    margin: 0;
  }
  
  .account-extra-info.account-extra-info-reveal .handle-history-section {
    display: block;
  }
  
  .account-tabs-content{
    overflow-y: auto;
  }
 
}