.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

@media (width >=801px) {
  .layout {
    flex-direction: row;
  }

  .layout .account-info {
    max-width: 500px;
    flex-grow: 1;
    overflow-y: auto;
  }
}

@media (width <= 800px) {
  .layout {
    flex-direction: column;
    overflow-y: scroll;
  }
}

.account-title {
  align-self: end;
}

.account-header .info-icon {
  display: inline;
}

.account-extra-info {
  display: block;
  padding-bottom: 0;
}

.account-extra-info .did-section {
  padding-left: 1em;
  padding-bottom: 1em;
  display: none;
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}

.account-extra-info .did-section .copy-did {
  color: #b8b8b8;
  zoom: 0.6;
  margin-left: -1em;
  margin-right: -0.4em;
  transition: opacity 400ms, pointer-events 300ms;
  opacity: 0;
  pointer-events: none;
}

.account-extra-info .did-section:hover .copy-did {
  pointer-events: all;
  opacity: 1;
}

.MuiTabs-flexContainer button {
  flex-grow: 1;
  min-width: 100px;
  padding: 10px;
  border-left: black solid 1px;
}

.MuiTabs-flexContainer button:first-child {
  border-left: none;
}

.account-tabs-handles .MuiTab-root {
  min-width: 0;
  padding: 2em 0.8em;
  margin-bottom: 0.5em;
}

.account-tabs-handles .MuiTabs-indicator {
  background-color: black;
}

.account-tabs-handles .MuiTab-root.Mui-selected {
  color: black;
}

.account-tabs-handles .MuiTab-root.tab-blocked-by.Mui-selected {
  color: #a02d19;
}

.account-tabs-handles .MuiTab-root.tab-blocking.Mui-selected {
  color: #a26900;
}

.account-tabs-handles.selected-tab-blocking .MuiTabs-indicator {
  background-color: #b87700;
}

.account-tabs-handles.selected-tab-lists .MuiTabs-indicator {
  background-color: #3c68b7;
}

.account-tabs-content {
  position: relative;
  border-left: none;
  max-height: 80em;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.account-tabs-content .account-tab {
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

.account-tabs-content .account-tab-selected {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.detail-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 3px;
  padding-right: 3px;
  flex-grow: 1;
}

.account-header {
  position: sticky;
  top: -7em;
  z-index: 20;
  background: white;
}



.account-extra-info.account-extra-info-reveal {
  background: #f6f6f6;
  border-top: solid 1px #ececec;
  border-bottom: solid 1px #ececec;
  font-size: 90%;
  padding-bottom: 0.6em;
  padding-top: 0.4em;
}

.account-extra-info .handle-history-section {
  display: none;
}

.account-extra-info.account-extra-info-reveal .bio-section {
  display: block;
  padding-bottom:25px;
}

.account-extra-info.account-extra-info-reveal .did-section {
  display: block;
}

.account-extra-info.account-extra-info-reveal .handle-history-section {
  display: block;
}

.close-opt{
  display:none;
  visibility: hidden;
}

@media(max-width:800px){
  .account-extra-info{
    display:none;
  }
  .account-extra-info.account-extra-info-reveal {
    border-radius:5px;
    border:1px solid black;   
    background: white;
    font-size: 90%; 
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    z-index: 50;
    display: block;
    padding: 5px;
    zoom:.7;
  }
  
  .account-extra-info-reveal .close-opt{
    display:block;
    position: relative; 
    left:97%;
    visibility: visible;
  } 


  .account-extra-info .handle-history-section {
    display: none;
  }
  
  .account-extra-info.account-extra-info-reveal .bio-section {
    display: block;
    margin: 0;
  }
  
  .account-extra-info.account-extra-info-reveal .did-section {
    display: block;
    margin: 0;
  }
  
  .account-extra-info.account-extra-info-reveal .handle-history-section {
    display: block;
  }
  
 
}