@import url('../../common-components/account-info-shared.css');

.account-close-button {
  float: left;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  text-shadow: -1px -1px 2px #00000075, 1px 2px 2px #00000075,
    -1px 1px 2px #00000075, 1px -1px 2px #00000075;
  font-size: 80%;
  position: sticky;
  top: -0.1em;
  padding: 0.2em 0.6em;
  border-radius: 200%;
  transition: background 0.4s, box-shadow 0.4s;
}

.account-close-button:hover {
  background: rgb(255 255 255 / 32.5%);
  box-shadow: 0 0 25px #ffffffde;
}

.account-avatar-and-displayName-line .history-toggle {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  justify-self: end;
  font-size: 37%;
  font-weight: normal;
  text-align: right;
  color: inherit;
  margin-top: -1.2em;
  margin-right: 0;
  padding-right: 1em;
}

.account-avatar-and-displayName-line .history-toggle .info-icon {
  position: relative;
  text-align: center;
  margin-left: 0.5em;
}

.account-avatar-and-displayName-line .history-toggle .info-icon::before {
  content: ' ';
  background: #969696;
  border: solid 1px #8a8a8a;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 200%;
  position: absolute;
  top: 0.3em;
  right: 0;
}

.account-avatar-and-displayName-line .history-toggle .info-icon::after {
  position: relative;
  content: 'i';
  color: white;
  display: inline-block;
  font-family: serif;
  text-transform: none;
  font-weight: bold;
  width: 1em;
  top: -0.07em;
}

.handle-history-title {
  margin-left: 1em;
  opacity: 0.6;
  border-top: solid 1px #c9c9c9;
  display: block;
  margin-right: 1em;
  margin-top: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.5em;
}
