.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.about .text {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  line-height: 1.6;
}

.about .text .legalese {
  float: right;
  font-size: 80%;
  color: gray;
}

.about .text .legalese a {
  color: inherit;
  text-decoration: none;
}

.about .corner-buttons {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: start end;
  position: relative;
}

.about .corner-buttons .about-button {
  height: 3em;
}

.about .corner-buttons .about-button-icon {
  position: absolute;
  right: 0.2em;
  top: 0;
  text-transform: none;
  font-weight: 900;
  font-family: "Times New Roman", serif;
  font-style: italic;
  color: black;
  padding-right: 0.5em;
}
