#root {
  min-height: 100%;
}

.bluethernal-llc-watermark {
  position: fixed;
  bottom: 0.5em;
  left: 0;
  font-size: 97%;
  opacity: 0.1;
  pointer-events: none;
  font-weight: bold;
  text-shadow: 0 0 1px currentcolor;
  font-variant: small-caps;
  color: var(--text-color, black);
}

.hydrate-fallback {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--bg-color, white);
  color: var(--text-color, black);
}
